<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/index.css" />
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/skaters">Skaters</a>
        <a href="/games">Games</a>
        <a href="/goalies">Goalies</a>
        <a href="/lines">Lines</a>
        <a href="/leaders">Leaders</a>
        <a class="active" href="/usergames">User Games</a>
        <a href="/addgame">Add Game</a>
        <a href="/search">Player Search</a>
      </div>
        <br>
        {% for game in ugIdList %}
        <div>
            <a href="/usergames/{{ game[0] }}">{{ game[3] }} - {{ game[1] }} VS {{ game[2] }}</a> - <a href="/deletegame/{{ game[0] }}">delete</a>
        </div>
        <br>
        {% endfor %}
</body>
</html>